<div class="container">
    <div class="features">
        <a href="/employee/transfer"><i class="icon-class"></i>Transfer Employee</a>
        <a href="/employee/manage_cus"><i class="icon-class"></i>Manage Customer</a>
        <a href="/employee/view-employee"><i class="icon-class"></i>View List Employees</a>
        <a href="/employee/search-employee"><i class="icon-class"></i>Search Employee</a>
    </div>
</div>