<div class="container">
    <div class="features">
        <a href="/employee/view-employee"><i class="icon-class"></i>View List Employees</a>
        <a href="/employee/search-employee"><i class="icon-class"></i>Search Employee</a>
    </div>
</div>