<div class="container">
    <div class="features">
        <a href=""><i class="icon-class"></i>View List Employees</a>
        <a href=""><i class="icon-class"></i>Search Employee</a>
        <a href="/employee/manage_cus"><i class="icon-class"></i>Manage Customer</a>
    </div>
</div>