<div class="container">
    <div class="features">
        <a href=""><i class="icon-class"></i>View List Employees</a>
        <a href=""><i class="icon-class"></i>Search Employee</a>
        <a href="/online/transfer"><i class="icon-class"></i>Transfer Employee</a>
    </div>
</div>