<body>
    <div class="container-xxl custom-container-0 bg-white p-0">
        <div class="container-xxl py-5 bg-dark custom-container-1 mb-5">
            <div class="container my-5 py-5">
                <div class="row align-items-center g-5">
                    <!-- Left Side Content -->
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="custom-heading display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meal</h1>
                        <p class="text-white animated slideInLeft mb-4 pb-2">
                            Indulge in the freshest, expertly crafted sushi that promises to delight your taste buds with every bite. 
                            At our restaurant, we bring the authentic flavors of Japan to your table, offering an unforgettable dining 
                            experience that keeps you coming back for more.
                        </p>
                        <a href="/booking" class="btn custom-booking-btn py-sm-3 px-sm-5 me-3 animated slideInLeft">Book A Table</a>
                    </div>
                    
                    <!-- Right Side Image -->
                    <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid custom-image" src="/img/home_background_right_side.png" alt="Delicious Sushi">
                    </div>
                </div>
            </div>
        </div>

        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6">
                        <div class="rounded pt-3 custom-container-2">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie mb-4" style="color: #493628;"></i>
                                <h5>Master Chefs</h5>
                                <p>At Subete Sushi, we pride ourselves on having a team of Master Chefs who bring years of expertise and passion to every dish they create.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="rounded pt-3 custom-container-2">
                            <div class="p-4">
                                <i class="fa fa-3x fa-utensils text-primary mb-4" style="color: #493628 !important;"></i></i>
                                <h5>Quality Food</h5>
                                <p>We source the freshest seafood, locally grown vegetables, and premium seasonings.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="rounded pt-3 custom-container-2">
                            <div class="p-4">
                                <i class="fa fa-3x fa-cart-plus text-primary mb-4" style="color: #493628 !important;"></i>
                                <h5>Online Order</h5>
                                <p>You can enjoy our delicious meals from the comfort of your home with our easy-to-use Online Ordering system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="rounded pt-3 custom-container-2">
                            <div class="p-4">
                                <i class="fa fa-3x fa-headset text-primary mb-4" style="color: #493628 !important;"></i>
                                <h5>24/7 Service</h5>
                                <p>Whether it's an early breakfast or a late-night meal, we’re always ready to serve you the freshest and finest dishes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" src="img/inside_1.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" src="img/inside_2.jpg" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" src="img/inside_3.jpg">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" src="img/inside_4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="color-1 ff-secondary text-start text-primary fw-normal">About Us</h5>
                        <h1 class="mb-4">Welcome to <i class="color-1 fa fa-utensils text-primary me-2"></i>Subete Sushi</h1>
                        <p class="mb-4">At Subete Sushi, we are passionate about bringing the authentic flavors 
                                        of Japan right to your table. Our chefs use only the freshest, high-quality ingredients to craft 
                                        each dish with precision and care. From traditional sushi rolls to our signature creations, every 
                                        bite is a journey into the heart of Japanese cuisine.</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 custom-border-color px-3" >
                                    <h1 class=" color-1 flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" >
                                <div class="d-flex align-items-center border-start border-5 custom-border-color px-3">
                                    <h1 class="color-1 flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Popular</p>
                                        <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center">
                    <h5 class="color-1 text-center text-primary fw-normal">Food Menu</h5>
                    <h1 class="mb-5">Most Popular Items</h1>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Salmon Sashimi</span>
                                        <span class="color-1 text-primary">$115</span>
                                    </h5>
                                    <small class="fst-italic">Japanese delicacy consisting of thinly sliced, fresh raw salmon</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="img/menu-2.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Tuna Sashimi</span>
                                        <span class="color-1 text-primary">$115</span>
                                    </h5>
                                    <small class="fst-italic">Thinly sliced raw tuna, typically served with soy sauce, wasabi, and pickled ginger.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="img/menu-3.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>California Roll</span>
                                        <span class="color-1 text-primary">$115</span>
                                    </h5>
                                    <small class="fst-italic">Sushi roll made with crab, avocado, cucumber, and often topped with 
                                                            sesame seeds or fish roe.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="img/menu-4.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Eel Nigirir</span>
                                        <span class="color-1 text-primary">$115</span>
                                    </h5>
                                    <small class="fst-italic">Sushi consisting of a slice of grilled eel (unagi or anago) 
                                                            placed on top of a small mound of vinegared rice</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="img/menu-5.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Takoyakir</span>
                                        <span class="color-1 text-primary">$115</span>
                                    </h5>
                                    <small class="fst-italic">Japanese street food consisting of battered dough balls filled with 
                                                        octopus, topped with takoyaki sauce, bonito flakes, and pickled ginger.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="img/menu-6.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Tonkotsu Ramen</span>
                                        <span class="color-1 text-primary">$115</span>
                                    </h5>
                                    <small class="fst-italic"> Japanese noodle soup made with a rich, creamy pork bone broth, served with noodles, 
                                        pork slices, and various toppings</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="img/menu-7.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Gyudon (Beef Bowl)</span>
                                        <span class="color-1 text-primary">$115</span>
                                    </h5>
                                    <small class="fst-italic">Japanese dish consisting of thinly sliced beef simmered with onions in
                                         a sweet and savory sauce, served over a bowl of steamed rice.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid rounded" src="img/menu-8.jpg" alt="" style="width: 80px;">
                                <div class="w-100 d-flex flex-column text-start ps-4">
                                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                                        <span>Matcha Latte</span>
                                        <span class="color-1 text-primary">$115</span>
                                    </h5>
                                    <small class="fst-italic">A matcha latte is a creamy beverage made with finely ground matcha 
                                        green tea powder, steamed milk, and sweetener.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->

        <!-- Team Start -->
        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center">
                    <h5 class="color-1 text-center text-primary fw-normal">Team Members</h5>
                    <h1 class="mb-5">Our Master Chefs</h1>
                </div>
                <div class="row g-4 justify-content-center">
                    <!-- First Row with 3 members -->
                    <div class="col-lg-4 col-md-6 member">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4 custom-image-size">
                                <img class="img-fluid" src="img/team-1.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Tran Nguyen Minh Hoang</h5>
                            <small>Software Engineer</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 member">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4 custom-image-size">
                                <img class="img-fluid" src="img/team-2.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Ngo Tan Tai</h5>
                            <small>Data Scientist</small>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 member">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4 custom-image-size">
                                <img class="img-fluid" src="img/team-3.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Khuu Thanh Thien</h5>
                            <small>Data Scientist</small>
                        </div>
                    </div>
                </div>
                <div class="row g-4 justify-content-center">
                    <!-- Second Row with 2 members -->
                    <div class="col-lg-6 col-md-6 member member">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4 custom-image-size">
                                <img class="img-fluid" src="img/team-4.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Pham Trinh Bao Tin</h5>
                            <small>Con cho'</small>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 member">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4 custom-image-size">
                                <img class="img-fluid" src="img/team-5.jpg" alt="">
                            </div>
                            <h5 class="mb-0">Tran Dang Tuan</h5>
                            <small>Data Scientist</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        
    </div>
</body>  