<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading mt-3">Choose your area</h1>
      <p class="lead text-muted">Select an area near you and discover your next
        favourite spot!</p>
      <p>
        <a href="/online" class="btn btn-primary my-2">Go back</a>
      </p>
    </div>
  </section>
  <div class="container mt-4">
    <div class="branch ms-3 me-3">
      <div class="row">
        {{#each allAreas}}
          <div class="col-md-6">
            <div class="branch-item card mb-4 shadow">
              <div class="card-body" id="{{ID_Branch}}">
                <h5 class="card-title text-primary">
                  <ion-icon name="storefront-outline"></ion-icon>
                  <a
                    href="/online/online-order/area/{{ID_Area}}"
                    style="text-decoration: none; color: black"
                  >{{AreaName}}</a>
                </h5>
                <p class="card-text">
                  <strong>Description: </strong>
                  beautiful restaurant, come eat.
                </p>
              </div>
              <div class="card-footer text-end">
                <a
                  href="/online/online-order/area/{{ID_Area}}"
                  class="btn btn-sm btn-outline-primary"
                >
                  <i class="bi bi-clipboard me-1"></i>
                  Select
                </a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</main>