:root {
    --background-color: #E4E0E1;
    --text-color: #493628;
    --secondary-color-1: #D6C0B3;
    --secondary-color-2: #C4A29E;
    --secondary-color-3: #AB886D;

    --primary-btn-color: var(--secondary-color-1); /* Use secondary color 1 for the button */
    --primary-btn-hover-color: var(--secondary-color-2); /* Use secondary color 2 for hover effect */
}

.custom-container-0 {
    background-image: url('/static/img/container.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    color: white;
    position: relative;
}

.custom-container-1 {
    background-image: url('/static/img/home_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    color: white;
    position: relative;
}

.custom-container-2 {
    background-color: var(--secondary-color-1);  /* Use the secondary color defined in your variables */
    padding: 30px;  /* Padding for content */
    border-radius: 15px;  /* Rounded corners */
    color: #493628;  /* Text color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Optional: Add shadow for depth */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content */
    height: 100%;  /* Ensure it fills the available height */
}

.custom-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: white;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


.custom-booking-btn {
    background-color: var(--primary-btn-color);
    color: var(--text-color);
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.custom-booking-btn:hover {
    background-color: var(--primary-btn-hover-color);
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.service-item i {
    color: var(--secondary-color-1);
}

.custom-container {
    background-color: var(--secondary-color-3);
}


.custom-border-color {
    border-color: var(--secondary-color-1) !important;
}

